///LK
.user_lk_info {
  background-color: $bgwhite;
  border-radius: $borderRadius;
  padding: 1rem;
  margin-bottom: 1rem;

  .img_box_user_info {
    display: grid;
    place-items: center;

    .box_img {
      // border: #2b7 1px solid;
      position: relative;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 0.8rem;

      &:hover {
        .btnAddImg {
          opacity: 1;
          transition: $transition;
        }
      }

      .btnAddImg {
        transition: $transition;
        opacity: 0;
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: $white;
        background: linear-gradient(151deg, rgba(34, 187, 119, 0.56) 0%, rgba(165, 219, 131, 0.56) 100%);
      }



      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;

      }
    }

    .status_user {
      text-align: center;

      .setting_mob {
        display: none;

        @include _480 {
          display: inline-block;
          text-decoration: none;
          color: $color;
          font-size: 1rem;
        }
      }
    }
  }


  .form_lk {
    @include _480 {
      transition: $transition;
      width: 100%;
      display: none;
    }

    .form-control {
      border-radius: $borderRadius;
    }

    .togglePassword {
      border-left: none;
      border-radius: 0 $borderRadius $borderRadius 0;
      background-color: #E6ECE5;
      cursor: pointer;
      color: $color;
    }
  }

  .phone_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    p {
      margin-bottom: 0;
    }

    .icon {
      font-size: 2rem;
      display: flex;
      gap: .5rem;

      transition: $transition;

      .download_link {
        color: #CDD1D5;
        text-decoration: none;
      }

      i {
        &:hover {
          transition: $transition;
          color: $color;
        }
      }
    }
  }
}

.content_info_user_lk {
  .row {
    @include _480 {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }


    .rox_box {
      @include _480 {
        width: 80%;
      }
    }
  }

  .big_box,
  .midl_box {
    background-color: $bgwhite;
    border-radius: $borderRadius;
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
    align-content: space-between;
    position: relative;
    overflow: hidden;
    transition: $transition;

    &:hover {
      background: radial-gradient(380.12% 261.29% at 93.99% 88.14%, rgb(34, 187, 119) 0%, rgb(110, 205, 125) 23.72012436389923%, rgb(179, 222, 130) 60.646623373031616%, rgb(217, 231, 133) 100%);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
      transition: $transition;
      color: $white;
      cursor: pointer;

      h4 {
        color: $white;
      }
    }
  }

  .big_box {
    height: 250px;

    @include _480 {
      height: 120px;
    }
  }

  .midl_box {
    height: 155px;

    @include _480 {
      height: 120px;
    }
  }

  .telegram_box {
    height: 155px;

    padding: 1rem;
    border-radius: $borderRadius;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background: radial-gradient(567.4% 222.84% at 84.78% 100%, #2b7 0%, #33bf78 37.42%, #d3e685 100%);
    text-decoration: none;
    color: $white;

    @include _480 {
      height: 120px;
      overflow: hidden;
    }

    h4 {
      font-weight: 800;
      font-size: 24px;
      letter-spacing: 0.1em;
      color: #fff;
    }

    i {
      font-size: 5rem;

      @include _480 {
        font-size: 3rem;
      }
    }
  }

  .big_box_header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h4 {
      font-weight: 600;
      letter-spacing: 0.02em;
      text-align: center;
      color: $text-color;
    }

    i {
      font-size: 3.5rem;
      color: rgba(230, 236, 229, 1);
    }
  }

  .big_box_footer {
    p {
      max-width: 70%;
      margin-bottom: 0;
    }

    .number_info {
      position: absolute;
      right: 0;
      bottom: 0;

      .info {
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 0.02em;
        color: #fff;
        padding: 0.5rem;
        margin-bottom: 0;
        background: linear-gradient(359deg, #daea8f 5.38%, #2b7 42.62%, #2b7 78.74%, #daea8f 100%);
        border-radius: 100% 0 0 0;
        padding-top: 30px;
        padding-left: 30px;
      }
    }
  }

  .chart_box {
    margin-top: 1rem;
    background: $white;
    border-radius: $borderRadius;
    padding: 1rem;

    canvas {
      max-height: 340px;
    }
  }
}


.search_box {
  margin-top: 1rem;
  margin-left: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: .5rem;

  @include _1024 {
    margin-left: 0;
    flex-wrap: wrap;
  }

  .btn-white {
    font-weight: 600;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color;
    background-color: $bgwhite;
    border-radius: $borderRadius;
    padding: 0.5rem .8rem;
  }

  .dropdown-menu {
    border-radius: $borderRadius;
    padding: 0.5rem;
    background-color: $bgwhite;
  }

  .search {
    border-radius: $borderRadius;
    padding: 0.5rem .8rem;
    background-color: $bgwhite;
    outline: 1px solid $color;
    /* цвет рамки можно поменять */
    outline-offset: 2px;
  }
}

.cropper-point.point-se:before {
  background-color: $color;
}

.cropper-point,
.cropper-line {
  background-color: $color;
}